
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100%;
}

.basezero{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgb(218, 218, 218);
    margin-top: 5%;
    width:33.33%;
    height: 80vh;
    border-radius: 10px;
}


.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.title{
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}

.tile1 {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.title2 {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 1em;
}

.email, .password {
    width: 100%;
}


