@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Open+Sans:wght@300&family=PT+Sans&family=Roboto:ital,wght@0,400;1,100&display=swap');

* {
    margin: 0px;
    padding: 0px;
}



.header {
    width: 100vw;
    height: 9vh;
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(197, 197, 197);
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 1px;
}


.first_box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 150px;
}


.items3{
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #5f6368;
    opacity: 1;
    padding-left: 4px;
}
.second_box {
    display: flex;
    flex-direction: row;
    width: 40vw;
    height: 90%;
    border-radius: 10px;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(233, 232, 232);
    padding: 2px;
}

.third_box {
    display: flex;
    flex-direction: row;
    width: 10vw;
    justify-content: space-evenly;
    align-items: baseline;

}

.fourth_box {
    display: flex;
    flex-direction: row;
    width: 7vw;
    justify-content: space-evenly;
    align-items: center;
}

