.takenoteone {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center ;
    width: 42vw;
    margin-left: 30vw;
    margin-top: 4vh;
    height: 7vh;
    border: 2px solid rgb(230, 230, 230);
    border-radius: 10px;
    padding: 2px;
    box-shadow: 5px 10px 18px #d2d2d2;
}



.noteonea {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    height: 100%
}

.noteoneb {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 100%
}